<head>
  <title>{{ .Site.Params.title }}</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  <script src="/src/toggleTheme.js"></script>
  <script src="/src/sada_main.js"></script>

  <link href="{{ .Site.BaseURL }}/src/bootstrap.min.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
    rel="stylesheet"
  />

  <style>
    .toggleTheme {
      cursor: pointer;
    }
    .bg-dark {
      background-color: #2d3748 !important;
    }
    code {
      color: #FF891C;
    }
  </style>
</head>
