<h3>
  <i class="fas {{ .Site.Params.skills.icon }}"></i>
  {{ .Site.Params.skills.title }}
</h3>
{{ range.Site.Params.skills.list }}
<code>{{ .skill }}</code>
<div
  class="w-100 bg-secondary border border-secondary mt-1 mb-3"
  style="height:15px;"
>
  <div
    class="bg-info h-100"
    style="width: {{ .skillrating }}%;"
  ></div>
</div>
{{ end }}
